.cities-ul li {
  list-style: circle;
}

.countries-ol li {
  list-style: lower-greek;
}

h3 {
  color: saddlebrown;
}

* {
  background-color: grey;
}
.movies-ul li {
  list-style: square;
}
.cartoons-ol li {
  list-style: upper-roman;
}

ul {
  list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}
